/* .container{
    display: flex;
}

h1{ 
    color:crimson;
    
}
.temph1{
    position: absolute;
    left: 42vw;
    color:crimson;
}
.container{
    margin-top: 10vh;
}
.firsttemp{
    width: 35vw;
    height: 30vh;
    background-color: pink;
    margin: 10px;
    padding: 10px;
    color: blue;
    line-height: 25px;
}
.secondtemp{
    width: 35vw;
    height: 30vh;
    background-color: rgb(43, 153, 199);
    margin: 10px;
    padding: 10px;
    color: aquamarine;
    line-height: 25px;
}
.thirdtemp{
    width: 35vw;
    height: 30vh;
    background-color: rgb(232, 148, 95);
    margin: 10px;
    padding: 10px;
    color: blanchedalmond;
    line-height: 25px;
}
.fourtemp{
    width: 35vw;
    height: 30vh;
    background-color: rgb(194, 51, 207);
    margin: 10px;
    padding: 10px;
    line-height: 25px;
} */